<html>
    <head>
        <title>Stats</title>
    </head>
    <body>
        <h1>Image resize stats</h1>
        <table>
            <tr>
                <td>Number of original images: </td>
                <td><%= numberOfOriginalImages %></td>
            </tr>
            <tr>
                <td>Number of resized images: </td>
                <td><%= numberOfResizedImages %></td>
            </tr>
            <tr>
                <td>Number of cache hits: </td>
                <td><%= numberOfCachedHits %></td>
            </tr>
            <tr>
                <td>Number of cache miss: </td>
                <td><%= numberOfCachedMiss %></td>
            </tr>
        </table>
    </body>
</html>
